<section>
    <div class="info-index">
        <h2>KØB OG SÆLG SECON HAND I VORES BUTIK PÅ FREDERIKSBERG</h2>
    </div>
</section>

<style>
    .info-index{
        align-items: center;
        text-align: center;
        align-self: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    h2{
        font-family: var(--font-family-medium);
  font-size: 1.3rem;
  color: var(--primary-text);

    }
    @media (min-width: 768px) {
        h2{
            font-size: 1.5rem; 
        }
        .info-index{
            padding-top: 30px;
            padding-bottom: 50px;
        }
    }
</style>