<section>
    <div class="info-index">
        <h2>Hvem er vi ?</h2>
        <p>First Class Second Hand er en secondhand butik beliggende i København med fokus på <br> kvalitet, stil og unikke detaljer. </p>
    <a href="#">Læs mere her</a>
    </div>
</section>

<style>
    .info-index{
        align-items: center;
        text-align: center;
        align-self: center;
        padding-top: 90px;
    }
    h2{
        font-family: var(--font-family-medium);
  font-size: 2rem;
  color: var(--primary-text);
  padding-bottom: 15px;
    }
    p{
        font-size: 1.4rem;
        padding-bottom: 30px;
        font-family: var(--font-family-roman);
    }
a {
    color: var(--cta-text);
    text-decoration: underline;
    font-size: 1.4rem;
    font-family: var(--font-family-roman);
}
a:hover{
            text-decoration: none;
        }
      @media only screen and (max-width: 768px) {
        a:hover{
            text-decoration: none;
        }
      }
</style>