<section>
    <div class="kontakt-index">
        <h2>Kontakt os</h2>
        <p>TIRSDAG - FREDAG 10 - 17.30 <br>
            LØRDAG 10 - 14 </p>
            <p>GODTHÅBSVEJ 57, <br>2000 FREDERIKSBERG</p>
    
            <p><a href="tel:+4538349485">+45 38 34 94 85</a> <br><a href="mailto:info@firstclass.dk">info@firstclass.dk</a></p>
  
    <a href="/about">Læs mere her</a>
    </div>
</section>

<style>
    .kontakt-index{
        align-items: center;
        text-align: center;
        align-self: center;
        padding-top: 80px;
    }
    h2{
        font-family: var(--font-family-medium);
  font-size: 1.5rem;
  color: var(--primary-text);
  padding-bottom: 15px;
    }
    p{
        font-size: 1.1rem;
        padding-bottom: 30px;
        font-family: var(--font-family-roman);
        color: var(--primary-text);
    }
    p a{
        font-size: 1.1rem;
        padding-bottom: 30px;
        font-family: var(--font-family-roman);
        color: var(--primary-text);
        text-decoration: none;
    }
a {
    color: var(--cta-text);
    text-decoration: underline;
    font-size: 1.3rem;
    font-family: var(--font-family-roman);
}
a:hover{
            text-decoration: none;
        }
      @media only screen and (max-width: 768px) {
        a:hover{
            text-decoration: none;
        }
      }
</style>