<section>
    <div class="kontakt-index">
        <h2>Kontakt os</h2>
        <p>Tirsdag - Fredag 10 - 17.30  /
            Lørdag 10 - 14 </p>
            <p>Godthåbsvej 57, 2000 Frederiksberg</p>
    
            <p><a href="tel:+4538349485">+45 38 34 94 85</a> / <a href="mailto:info@firstclass.dk">info@firstclass.dk</a></p>
  
    </div>
</section>

<style>
    .kontakt-index{
        align-items: center;
        text-align: center;
        align-self: center;
        padding-top: 50px;
    }
    h2{
        font-family: var(--font-family-medium);
  font-size: 1.5rem;
  color: var(--primary-text);
  padding-bottom: 15px;
    }
    p{
        font-size: 1rem;
        padding-bottom: 30px;
        font-family: var(--font-family-roman);
        color: var(--primary-text);
    }
    p a{
        font-size: 1.1rem;
        padding-bottom: 30px;
        font-family: var(--font-family-roman);
        color: var(--primary-text);
        text-decoration: underline;
    }
a {
    color: var(--cta-text);
    text-decoration: underline;
    font-size: 1.3rem;
    font-family: var(--font-family-roman);
}
a:hover{
            text-decoration: none;
        }
      @media only screen and (min-width: 768px) {
        a:hover{
            text-decoration: none;
        }
        p{
            font-size: 1.2rem;
        }
      }
</style>