<section>
    <div class="sell-index">
        <h2>Sælg med os !</h2>
        <p>Når du vælger at sælge dit tøj med os, bidrager du til bæredygtighed ved at forlænge <br>dets levetid og minimere spild af ressourcer.  </p>
        <div class="center-container">
            <div class="grid1-1-1">
              <div>
                <p class="tal">01</p>
                <p class="tal-text">Aflever tøjet i butikken</p>
              </div>
              <div>
                <p class="tal">02</p>
                <p class="tal-text">Tøjet udstilles i 2 måneder</p>
              </div>
              <div>
                <p class="tal">03</p>
                <p class="tal-text">Du modtager 50% af salgsprisen</p>
              </div>
            </div>
          </div>
          <div class="link">
    <a href="/about">Læs mere her</a>
</div>
    </div>
</section>

<style>
    .sell-index{
        align-items: center;
        text-align: center;
        align-self: center;
        padding-top: 40px;
        padding: 10px;
        background-color: var(--cta-text);
        color: var(--secondary-color);
    }
    .center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
    .grid1-1-1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
    }
    .tal {
  font-size: 1.5rem;
  font-family: var(--font-family-medium);
}

.tal-text {
  font-size: 1.1rem;
  font-family: var(--font-family-medium);
}

    h2{
        font-family: var(--font-family-medium);
  font-size: 1.5rem;
  padding-bottom: 15px;
  padding-top: 50px;
    }
    p{
        font-size: 1.1rem;
        padding-bottom: 30px;
        font-family: var(--font-family-roman);
    }
a {
    color: var(--secondary-color);
    text-decoration: underline;
    font-size: 1.3rem;
    font-family: var(--font-family-roman);

}
.link{
    padding-bottom: 50px;
}
a:hover{
            text-decoration: none;
        }
      @media only screen and (min-width: 768px) {
        a:hover{
            text-decoration: none;
        }
        p{
            font-size: 1.2rem;
        }
        .tal{
            font-size: 2rem;
        }
        .tal-text{
            font-size:1.2rem;
        }
      }
</style>